In [42]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import itertools
import math

In [8]:
data = pd.read_csv('movie.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
754,tt1436562,90000000,484635760,Rio,Jesse Eisenberg|Anne Hathaway|Leslie Mann|Jane...,Carlos Saldanha,1 out of every 8 Americans is afraid of flying...,Captured by smugglers when he was just a hatch...,96,Animation|Adventure|Comedy|Family,Blue Sky Studios|Twentieth Century Fox Animation,4/3/2011,6.5,2011
1650,tt0377062,45000000,21009180,Flight of the Phoenix,Dennis Quaid|Tyrese Gibson|Giovanni Ribisi|Mir...,John Moore,"Out of the ashes, hope will rise.",When an Amacor oil rig in the Gobi Desert of M...,113,Action|Adventure|Drama|Thriller,Twentieth Century Fox Film Corporation|Davis E...,12/17/2004,5.4,2004
1008,tt1482459,70000000,348840316,The Lorax,Zac Efron|Danny DeVito|Taylor Swift|Ed Helms|R...,Chris Renaud|Kyle Balda,Meet The Original Force Of Nature,A 12-year-old boy searches for the one thing t...,86,Animation|Family,Universal Pictures|Illumination Entertainment,3/1/2012,6.3,2012
420,tt1216492,19000000,29922472,Leap Year,Amy Adams|Matthew Goode|Adam Scott|John Lithgo...,Anand Tucker,Anna planned to propose to her boyfriend on Fe...,When yet another anniversary passes without a ...,100,Romance|Comedy,Universal Pictures|Spyglass Entertainment|Octa...,1/8/2010,6.3,2010

In [9]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [10]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [11]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [12]:
# тут пишем ваш код для решения данного вопроса:
data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)#группируем название фильма и бюджет(с сортировкой)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Paranormal Activity 3                            5000000
Oculus                                           5000000
Paranormal Activity 4                            5000000
Dallas Buyers Club                               5000000
Wonderland                                       5000000
Name: budget, Length: 1887, dtype: int64

ВАРИАНТ 2

In [13]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [14]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [15]:
#группируем название фильма и длительность фильма(с сортировкой по убыванию времени)
data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Home on the Range                                 76
Valiant                                           76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [16]:
answers['3'] = 'Winnie the Pooh'
#группируем название фильма и длительность фильма(с сортировкой по убыванию времени)
data.groupby(['original_title'])['runtime'].min().sort_values(ascending=False)

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Home on the Range                                 76
Valiant                                           76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

# 4. Какова средняя длительность фильмов?

In [17]:
answers['4'] = '109.6585494970884'
#выводим среднее значение длительности всех фильмов
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [18]:
answers['5'] = '107.0'
#выводим медианное значение длительности всех фильмов
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)(2544505847)'
#Создаём новую колонку с полученными результатами
data['profit'] = data.revenue - data.budget
#Выводим фильм с макс. значением прибыли
data[(data.profit == data.profit.max())].imdb_id
data.loc[(data.index[239])]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '1245. The Lone Ranger (tt1210819)(-165710090)'
#Выводим фильм с мин. значением прибыли
data[(data.profit == data.profit.min())].imdb_id
data.loc[(data.index[1245])]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                          6.0
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1478'
#выводим кол. фильмов у кот. сборы > 0
data[(data.revenue > data.budget)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight'
data2 = data.copy()
#делаем запрос в кот. были фильмы выпущены в 2008г. и кассовый сбор равен макс.
data2 = data[(data.release_year == 2008)&(data.revenue.max())].original_title
data2.head(1)

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger   -165710090'
data = pd.read_csv('movie.csv')
data['profit'] = data.revenue - data.budget
data10 = data.copy()
#Отбираем фильмы выпущенные с 2012 по 2014 гг.. вкл.
data10.release_year = data[(data.release_year >= 2012)&(data.release_year <= 2014)].original_title
#группируем полученные года с мин. прибылью в эти годы
data10 = data10.groupby(['release_year'])['profit'].min().sort_values(ascending=True)
data10.head(1)

release_year
The Lone Ranger   -165710090
Name: profit, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [24]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
data = pd.read_csv('movie.csv')
#делим строку по символу
data.genres = data.genres.str.split('|')
#модуль collections
c = collections.Counter()
#
for i in range (len(data)):
    for word in data.genres[i] :
        c[word] = c[word] + 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

In [25]:
data = pd.read_csv('movie.csv')
#делим строку по символу
data.genres = data.genres.str.split('|')
data11 = data.copy()
data11 = data11.explode('genres')
data11 = data11.groupby(['genres']).count().sort_values(by = 'imdb_id',ascending=False)
data11.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year
genres,,,,,,,,,,,,,
Drama,782,782,782,782,782,782,782,782,782,782,782,782,782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = 'Drama'
data = pd.read_csv('movie.csv')
data['profit'] = data.revenue - data.budget
data.genres = data.genres.str.split('|')
cc = collections.Counter()
for i in range (len(data)):
    if data.profit[i] > 0 :
        for word in data.genres[i] :
            cc[word] = cc[word] + 1
print(cc)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

In [27]:
data = pd.read_csv('movie.csv')
data['profit'] = data.revenue - data.budget
data.genres = data.genres.str.split('|')
data12 = data.copy()
#выбираем фильмы с прибылью больше 0
data12 = data12[(data12.profit > 0)]
#делим строчку на столбик
data12 = data12.explode('genres')
#группируем
df12 = data12.groupby(['genres'])[['profit']].count().sort_values(by = 'profit',ascending=False)
df12.head(10)

                 profit
genres
Drama               560
Comedy              551
Thriller            446
Action              444
Adventure           337
Romance             242
Crime               231
Family              226
Science Fiction     195
Fantasy             188

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [28]:
answers['13'] = 'Peter Jackson(6490593685)'
data = pd.read_csv('movie.csv')
data.groupby(['director'])
grouped_data = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
grouped_data.head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [29]:
answers['14'] = 'Robert Rodriguez'
data = pd.read_csv('movie.csv')
data14 = data[data.genres.str.contains("Action")]
data14=data14['director'].str.cat(sep='|') # превращаем все в одну строку
data14=pd.Series(data14.split('|')) # создаем список разделяя строку по '|'
data14=data14.value_counts(ascending=False) # считаем количество элементов строке
data14.head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [30]:
answers['15'] = 'Chris Hemsworth'
data = pd.read_csv('movie.csv')
data.cast = data.cast.str.split('|')
data15 = data.copy()
#выбираем фильмы 2012 произ.
data15 = data15[(data15.release_year == 2012)]
data15 = data15.explode('cast')
#группируем
df = data15.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue',ascending=False)
df.head(1)

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [31]:
answers['16'] = 'Matt Damon'
data = pd.read_csv('movie.csv')
data.cast = data.cast.str.split('|')
data16 = data.copy()
#выбираем фильмы чей бюджет выше среднего
data16 = data16[(data16.budget > data16.budget.mean())]
data16 = data16.explode('cast')
#группируем актёров по бюджету
df = data16.groupby(['cast'])[['budget']].count().sort_values(by = 'budget',ascending=False)
df.head(5)

                budget
cast
Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Tom Cruise          15
Eddie Murphy        15

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [32]:
answers['17'] = 'Action'
data = pd.read_csv('movie.csv')
data.genres = data.genres.str.split('|')
data17 = data.copy()

data17 = data17[data17.cast.str.contains("Nicolas Cage")]
#data17 = data17.explode('cast')
data17 = data17.explode('genres')
data17 = data17.groupby(['genres'])[['original_title']].count().sort_values(by = 'original_title',ascending=False)
cc = collections.Counter()
for i in range (len(data17)):    
    for word in data.genres[i] :
        cc[word] = cc[word] + 1
print(cc)
data17

Counter({'Adventure': 11, 'Science Fiction': 10, 'Action': 9, 'Thriller': 6, 'Drama': 3, 'Comedy': 3, 'Fantasy': 2, 'Crime': 2, 'Family': 2, 'Animation': 2, 'Western': 1})

                 original_title
genres
Action                       17
Thriller                     15
Drama                        12
Crime                        10
Fantasy                       8
Adventure                     7
Comedy                        6
Science Fiction               4
Animation                     3
Family                        3
Mystery                       3
History                       2
Horror                        1
Romance                       1
War                           1

# 18. Самый убыточный фильм от Paramount Pictures

In [33]:
answers['18'] = 'K-19: The Widowmaker'
data = pd.read_csv('movie.csv')
data['profit'] = data.revenue - data.budget
data18 = data.copy()
data18 = data18[data18.production_companies.str.contains("Paramount Pictures")]
data18 = data18[(data18.profit == data18.profit.min())]
data18 = data18.groupby(['original_title'])[['production_companies']].count()
data18

                      production_companies
original_title
K-19: The Widowmaker                     1

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [34]:
answers['19'] = '2015'
data19 = pd.read_csv('movie.csv')
data19 = data19.groupby(['release_year'])[['revenue']].sum().sort_values(by = 'release_year',ascending=False)
data19.head(10)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2006          14775042320

# 20. Какой самый прибыльный год для студии Warner Bros?

In [35]:
answers['20'] = '2014'
data = pd.read_csv('movie.csv')
data['profit'] = data.revenue - data.budget
data20 = data.copy()
data20 = data20[data20.production_companies.str.contains("Warner Bros.")]
data20 = data20.groupby(['release_year'])[['profit']].sum().sort_values(by = 'profit',ascending=False)
data20.head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [36]:
answers['21'] = '9 - Сентябрь'
data = pd.read_csv('movie.csv')
data.release_date = data.release_date.str.split('/')
data21 = data.copy()
data21 = data21.explode('release_date')
data21 = data21.groupby(['release_date']).count().sort_values(by = 'release_date',ascending=False)
data21.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,vote_average,release_year
release_date,,,,,,,,,,,,,
9,294,294,294,294,294,294,294,294,294,294,294,294,294

In [37]:
data = pd.read_csv('movie.csv')
data.release_date = data.release_date.str.split('/')
count = dict()
for i in range (len(data)):                 
    date = data.release_date[i][0]
    if date in count:
        count[date] = count[date] + 1
    else :
        count[date] = 1
max_value = max(count.values())
final_dict = {k: v for k, v in count.items() if v == max_value}
print(final_dict)

{'9': 227}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [38]:
answers['22'] = '450'
data = pd.read_csv('movie.csv')
data['release_date'] = data.release_date.str.split('/')
count = dict()
mounth = ''
summ = 0
for i in range (len(data)):                        
    mounth = data.release_date[i][0]
    if (mounth == '6' or mounth == '7' or mounth == '8'):
        if mounth in count:                    
            count[mounth] = count[mounth] + 1
        else :
            count[mounth] = 1
                
summ = count['6'] + count['7'] + count['8']
print(summ)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [39]:
answers['23'] = 'Peter Jackson'
data = pd.read_csv('movie.csv')
data['release_date'] = data.release_date.str.split('/')
count = dict()
mounth = ''
name = ''
for i in range (len(data)):                        
    mounth = data.release_date[i][0]
    if (mounth == '1' or mounth == '2' or mounth == '12'):
        name = data.director[i]
        if name in count:                    
            count[name] = count[name] + 1
        else :
            count[name] = 1    
max_value = max(count.values())
final_dict = {k: v for k, v in count.items() if v == max_value}
print(final_dict)

{'Peter Jackson': 7}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [40]:
answers['24'] = 'Warner Bros.'
data = pd.read_csv('movie.csv')
data['production_companies'] = data.production_companies.str.split('|')
#Создаём колонку в кот. содержится кол. символов  фильма
data['lenfilm'] = data.original_title
#Функция перевода в кол. символов
def film(name):   
    return len(name)     
data = data.explode('production_companies')
data['lenfilm'] = data.original_title.apply(film)
data24 = data.copy()
#группируем компанию и кол. символов
data24 = data24.groupby(['production_companies'])[['lenfilm']].sum().sort_values(by = 'lenfilm',ascending=False)
data24.head(1)

                      lenfilm
production_companies
Warner Bros.             2616

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [43]:
answers['25'] = 'Universal Pictures'
data = pd.read_csv('movie.csv')
data['production_companies'] = data.production_companies.str.split('|')
#Создаём колонку в кот. содержится кол. символов описания фильма
data['lentagline'] = data.tagline
#Функция перевода в кол. символов
def tname(name):    
    return (len(name.split()))          
data['lentagline'] = data.tagline.apply(tname)     
data = data.explode('production_companies')
data25 = data.copy()
#Средний показатель кол. символов
data25 = data25[(data25.lentagline == math.trunc(data25.lentagline.mean()))]
#группируем компанию и кол. символов
data25 = data25.groupby(['production_companies'])[['lentagline']].sum().sort_values(by = 'lentagline',ascending=False)
data25.head(1)

                      lentagline
production_companies
Universal Pictures            98

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [44]:
answers['26'] = 'Universal Pictures'
data = pd.read_csv('movie.csv')
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [45]:
answers['27'] = 'Daniel Radcliffe,Rupert Grint,8'
data = pd.read_csv('movie_bd_v5.xls')
data['cast'] = data.cast.str.split('|')
count = dict()
s = ''
s1 = ''
for i in range (len(data)):
    if (len(data.cast[i]) >= 2):  
#Разбиваем артистов по 2 человека
        s = list(itertools.combinations(data.cast[i],2))
        for j in range (len(s)):
            s1 = s[j]  
            if s1 in count:              
                count[s1] = count[s1] + 1      #суммируем если группа была в списке
            else :
                count[s1] = 1                 #добавляем в список если небыло
                              
sorted_values2 = sorted(count.values()) # Sort the values
sorted_dict2 = {}
#Сортируем по возрастанию
for l in sorted_values2:
    for k in count.keys():
        if count[k] == l:
            sorted_dict2[k] = count[k]
            break                
print(sorted_dict2)   
#Выводим макс. значение списка
max_value = max(sorted_dict2.values())
final_dict = {k: v for k, v in sorted_dict2.items() if v == max_value}
print(final_dict)

{('Chris Pratt', 'Bryce Dallas Howard'): 1, ('Shailene Woodley', 'Theo James'): 2, ('Vin Diesel', 'Paul Walker'): 3, ('Jennifer Lawrence', 'Josh Hutcherson'): 4, ('Adam Sandler', 'Kevin James'): 5, ('Ben Stiller', 'Owen Wilson'): 6, ('Rupert Grint', 'Emma Watson'): 7, ('Daniel Radcliffe', 'Rupert Grint'): 8}
{('Daniel Radcliffe', 'Rupert Grint'): 8}

In [46]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)(2544505847)',
 '7': '1245. The Lone Ranger (tt1210819)(-165710090)',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger   -165710090',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson(6490593685)',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9 - Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Warner Bros.',
 '25': 'Universal Pictures',
 '26': 'Universal Pictures',
 '27': 'Daniel Radcliffe,Rupert Grint,8'}

In [47]:
# и убедиться что ни чего не пропустил)
len(answers)

27